body { 
    background-color: #F2DADF; 
    color: #5e548e; 
}

h1, h2, h3, h4, h5, h6 {
  color: #5e548e;
}

a {
  color: #4a5759;
  text-decoration: none;
}

a:hover {
  color: #a3b18a;
  text-decoration: underline;
}
